<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trip Info</h1>
        <h2>Destination! {{trip.name}}</h2>
        <div class="tripbox">
            <p><span class="spans">From:</span> {{trip.start_date}}</p>
            <P><span class="spans">To:</span> {{trip.end_date}}</P>
            <p><span class="spans">Plan</span> {{trip.plan}}</p>
            <P><span class="spans">Created by:</span> {{this_user.first_name}} {{this_user.last_name}}</P>
        </div>
        <a href="/dashboard">Return Home</a>|<a href="/logout">Log Out</a>
</body>
</html>